


@media screen and (max-width: 600px){
	
	.schedule {
		justify-content: center;
	}

	.header {
		font-size: 0.5em;
	}

	.header-info {
		font-size: 0.6rem;
	}

	.clock {
		font-size: 0.5em;
		padding: 3px;
	}

	.menu-wrapper {
		position: fixed;
		left: auto;
		top: auto;
		right: 45px;
		bottom: 45px;
	}

	.nav-item_active:first-child {
		transform: translateY(-60px);
	}

	.nav-item_active:nth-child(2) {
		transform: translate(-42.42px, -42.42px);
	}

	.nav-item_active:nth-child(3) {
		transform: translateX(-60px);
	}
}
