@media screen and (max-width: 600px){
	
	.schedule {
		justify-content: center;
	}

	.header {
		font-size: 0.5em;
	}

	.header-info {
		font-size: 0.6rem;
	}

	.clock {
		font-size: 0.5em;
		padding: 3px;
	}

	.menu-wrapper {
		position: fixed;
		left: auto;
		top: auto;
		right: 45px;
		bottom: 45px;
	}

	.nav-item_active:first-child {
		transform: translateY(-60px);
	}

	.nav-item_active:nth-child(2) {
		transform: translate(-42.42px, -42.42px);
	}

	.nav-item_active:nth-child(3) {
		transform: translateX(-60px);
	}

	.modal-item {
		width: 100vw;
		height: 100vh;
		background-color: rgba(230, 232, 234, .95);
	}

	.modal-close-btn {
		font-size: 24px;
		width: 25px;
		height: 25px;
		right: 50px;
		top: 50px;
	}

	.modal-content p {
		line-height: 1.6em;
		font-size: 20px;
	}
}
