* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    min-width: 320px;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

.header {
    text-align: center;
    font-weight: 700;
    font-size: 1em;
    background-color: #4a76a8;
    user-select: none;
    color: #d7e2ec;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.header__text {
    text-align: center;
    font-size: 3em;
    background-color: #4a76a8;
    font-weight: 400;
    display: inline-block;
}

.header-info {
    display: inline-block;
    text-align: left;
    opacity: 0.7;
    font-size: 1.2rem;
}

.schedule {
    max-width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 24px auto 0;
}

.item {
    flex: 1 1 300px;
    max-width: 300px;
    margin: 0 0 20px;
}

.timetable {
    width: 100%;
    table-layout: fixed;
    border: 1px solid #cbd2e0;
    border-radius: 7px;
    background-color: #edeef0;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.item p {
    text-align: center;
    font-size: 1.2em;
    color: #656565;
    margin: 0 0 5px;
}

.weeks {
    font-size: 0.8em;
    line-height: 0.8em;
    height: 34px;
}

.weeks:nth-child(2) .odd {
    position: relative;
    top: -10%;
}

.weeks:nth-child(2) .even {
    position: relative;
    top: 8%;
}

td {
    border: 1px solid #b3cef1;
    padding: 5px 7px;
    background-color: #fff;
    height: 33px;
}

td:nth-child(1) {
    border-radius: 5px 0 0 5px;
}

td:nth-child(2) {
    width: 16%;
    text-align: center;
    border-radius: 0 5px 5px 0;
}

.lil {
    font-size: 0.7em;
    opacity: 0.5;
}


.clock {
    min-width: 42px;
    min-height: 20px;
    position: fixed;
    left: 0;
    top: 0;
    color: rgb(233, 240, 237);
    background-color: rgba(74, 118, 168, 0.3);
    padding: 5px;
    border-radius: 0 0 7px;
}

#lower,
#upper {
    line-height: 1em;
}

.menu-wrapper {
    position: absolute;
    left: 40px;
    top: 40px;
}

.menu-button {
    height: 45px;
    width: 45px;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    background-color: #5180b5;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.5);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.5);
    z-index: 3;
}

.menu-burger {
    background-color: #d7e2ec;
    display: block;
    height: 2px;
    width: 20px;
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 10px);
    -webkit-transition: height 0.1s, 0.2s;
    transition: height 0.1s, 0.2s;
}

.menu-burger::after,
.menu-burger::before {
    content: '';
    display: block;
    background-color: #d7e2ec;
    height: 2px;
    width: 20px;
    position: relative;
    left: calc(50% - 10px);
    transition: 0.2s;
}

.menu-burger::before {
    transform: translateY(-6px);
}

.menu-burger::after {
    transform: translateY(4px);
}

.menu_active {
    height: 0;
}

.menu_active::before {
    transform: rotate(45deg);
}

.menu_active::after {
    transform: translateY(-2px) rotate(-45deg);
}

.nav-item {
    position: absolute;
    z-index: 0;
    display: block;
    border-radius: 50%;
	background-color: #5180b5;
	color: #f2f3f5;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    left: 5px;
	top: 5px;
	transform: translate(0);
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.5);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.5);
}

.nav-item:hover{
    background-color: #4d74a0;
}
.nav-item:active{
    background-color: #45658a;
}

.nav-item:first-child {
	 transition: transform .5s ease;
}

.nav-item:nth-child(2) {
	 transition: transform .5s ease 0.1s;
}

.nav-item:nth-child(3) {
	 transition: transform .5s ease 0.2s;
}

.menu-nav {
    z-index: 2;
}

.nav-item_active:first-child {
    transform: translateY(60px);
}

.nav-item_active:nth-child(2) {
    transform: translate(42.42px, 42.42px);
}

.nav-item_active:nth-child(3) {
	transform: translateX(60px);
}

.modal-wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 155;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, .4);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
}

.modal-item {
    background-color: #e6e8ea;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 680px;
    height: 500px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 12px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 12px 0 rgba(0,0,0,0.2);
    box-shadow: 5px 5px 12px 0 rgba(0,0,0,0.2);
    position: relative;
}

.modal-close-btn {
    /* background-color: rgb(218, 218, 218); */
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    user-select: none;
    /* -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2); */
    cursor: pointer;
}

.modal-close-btn:hover {
    background-color: rgb(221, 221, 221);
}
.modal-close-btn:active {
    background-color: rgb(212, 212, 212);
}
.modal_active{
    visibility: visible;
    opacity: 1;
    /* background-color: rgba(0,0,0, .4); */
}

.modal-content{
    font-size: 28px;
    text-align: center;
    line-height: 1.4em;
}