*{
	box-sizing: border-box;
}

body, html{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.setup {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.attention{
	position: absolute;
	top: 57%;
	color: #E32636;
	font-size: 16px;
}

.setup span {
	color: #dadada;
	font-size: 0.8rem;
}

.setup button {
	margin: 10px;
	min-height: 30px;
	padding: 10px;
}

.setup input{
	height: 40px;
	width: 150px;
	font-size: 32px;
	text-align: center;
}

td{
	border: 1px solid black;
	padding: 3px;
	text-transform: uppercase;
}

tr:first-child td{
	text-transform: none;
	font-weight: bold;
}

tr:nth-child(2n){
	background-color: #f1f1f1;
}

td:nth-child(6){
	width: 50px;
}

tr:nth-child(2){
	text-align: center;
}

table{
	border-spacing: 0;
}

.hidden {
	display: none;
}

.done_task{
	padding: 25px;

}

h1{
	margin-left: 50px;
}
h3{
	margin-left: 25px;
}